<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <div id="app">
        <!--INTERPOLACIÓN-->
        <h1>{{titulo}}</h1>
        <!--BOTÓN AGREGAR CON FUNCIÓN EN JS-->
        <input type="text" v-model.number="nuevaFruta" @keyup.enter="agregarFruta"> 
        <!--CONCEPTO V-MODEL: HTML A JS-->
        <!--EVENTO ON CLICK [@]-->
        <button @click="agregarFruta">Agregar</button>

        <ul>
            <li v-for="fruta of frutas"><!--CLICLO FOR, REITERAR EN CADA LI-->
                <input type="number" v-model="fruta.cantidad">
                {{fruta.nombre}} <!--MOSTRAR ATRIBUTOS DEL OBJETO-->
                <button @click="fruta.cantidad++">+</button>
                <button @click="fruta.cantidad--">-</button>
                <span v-if="fruta.cantidad === 0">-Sin Stock</span><!--CONDICIONAL IF-->
            </li>            
        </ul>
        <h4>TOTAL: {{sumarFruta}}</h4>
        <span v-if="sumarFruta === 0">RUINA TOTAR</span>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--VueJs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="01.js"></script>

  </body>
</html>